
/* ���{�ݒ� */
body,td,th{
font-size:60%;
color:#333333;
font-family:BatangChe;
font-weight:normal;
margin:0px;
padding:0px;
body { text-align: center; /* Quirks Mode 를 위한 가운데 정렬 */ }
}


/* 글씨체 */
a:link{text-decoration:none;color:#104ef1;}/* �����N�ɐG�����O�̐F */
a:visited{text-decoration:none;color:#333333;}/* �K�₵�����Ƃ̂��郊���N�̐F */
a:hover{text-decoration:none;color:#ffffff;}/* �G�ꂽ���̃����N�ݒ� */

/* ���X�g�ݒ� */
ul,ol{
list-style-position:inside;
margin:5px 0px 0px 15px;
}

 /* �摜�̃{�[�_�[�����炩���߂O�ɂ��� */
img{border:none;}

/* 시스템 */
textarea{
font-size:11px;
line-height:17px;
padding:5px;
}
textarea,input{
color:#333333;
border:1px solid #33aaff;
background-color:#ffffff;
}

/* �����pbox */
.box1{
border:1px solid #6699ff;
background-color:#ffffff;
}
.box2{
border:6px double #ccffff;
background-color:#ccffff;
}
.box1,.box2{width:400px;margin:15px 0px 0px 0px;padding:5px;}

/* �z�z�������N */
#copyright{text-align:center;padding:5px 0px;}

/* �f�U�C���S�ʂ̐ݒ� */
#all{
text-align:left;
width:520px;
margin:30px auto;
}
#header{
border:1px solid #666666;
background:#ffffff url(bg01.png) no-repeat right top;
margin:0px 0px 30px 0px;
padding:40px 0px;
}
#back{
letter-spacing:10px;
text-align:center;
border:1px solid #666666;
background:#ffffff url(bg02.gif) no-repeat center;
margin:-10px 0px 20px 0px;
padding:8px 0px;
}
#back a{color:#333333;}
#back a:hover{color:#0099ff;}

/* 제목 */
h1{
font-size:17px;
color:#333333;
font-weight:lighter;
text-align:center;
margin:0px;
padding:0px;
}
h1:first-letter{color:#800000;}
h1:first-letter{font-size:20px;
font-weight:bold;}
h2{
font-size:12px;
color:#ffffff;
font-weight:normal;
letter-spacing:3px;
text-align:center;
background:#ffffff url(h2.gif) no-repeat center;
margin:0px 0px -35px 0px;
padding:20px 0px 10px 0px;
}
h3{
font-size:11px;
color:#3399cc;
text-decoration:underline;
background:#ffffff url(h3.gif) no-repeat 0% 50%;
margin:15px 0px 10px 0px;
padding:0px 0px 0px 20px;
}

/* ���j���[�ݒ� */
#menu ul{
list-style-type:none;
text-align:center;
background-color:#000000;
margin:50px 0px 0px 0px;
padding:6px 0px;
}
#menu li{
display:inline;
}
#menu li a{
color:#ffffff;
padding:0px 10px;
}
#menu li a:hover{
color:#33aaff;
}

/* �e�L�X�g�ݒ� */
.text1{
line-height:20px;
border:1px solid #333333;
margin:0px 0px 30px 0px;
padding:45px 20px 20px 15px;
}

/* �����N�y�[�W�̐ݒ� */
dl.banner{margin:0px 0px 15px 0px;}
dl.banner dt{float:left;margin:0px 5px 0px 0px;}
dl.banner dd{margin:-2px 0px 0px 0px;}

/* ���̑��v�f */
em{font-style:normal;font-weight:bold;}
strong{color:#33aaff;background-color:#ccffff;}
ins{text-decoration:none;border-bottom:1px solid #33aaff;}
del{text-decoration:line-through;}
